# --- Node ---------------------------------------------------------------------------------
node_modules/
dist/
pnpm-debug.log*
npm-debug.log*

# --- Tooling -----------------------------------------------------------------------------
.vite/
coverage/
.vscode/

# --- System ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
# --- Volta --------------------------------------------------------------------------------
.volta/tools/image
EOF